[2015-05-10 11:23] maku opened #1 "usage with jspm and typescript"
I am curious how to use angular2-now with typescript and jspm.
Any ideas?

[2015-05-10 13:03] pbastowski commented on #1
@maku, at the moment the angular2-now library implements decorators/annotations according to the Babel spec. I had a quick look at the typescript playground and it would appear that TypeScript implements annotations in the same way that Babel does. But, there are type checking and scoping considerations to consider.

Perhaps you could have a look at this fork by another user: https://github.com/na

[2015-05-10 14:40] maku commented on #1
Thanks for the hint. A quick test with the fork (https://github.com/nalbion/angular2-now) worked for me...

[2015-05-10 14:57] #1 closed

[2015-05-21 11:42] nalbion opened #4 "Use new router's @RouteConfig syntax"
There is a new router for Angular 2.0 (and 1.4) - https://github.com/angular/router

It would be good if angular2-now used the same syntax instead of `@State`

[code]

[2015-05-21 12:01] pbastowski commented on #4
Thanks for the suggestion. I'm currently using ui-router in my apps and
haven't had the chance yet to try the new Angular 1.4 router.

I'll investigate the syntax and see what I can do.

On 21 May 2015 at 13:42, Nicholas Albion notifications@github.com wrote:

[2015-05-21 15:05] nalbion commented on #4
There's an example [here](https://github.com/angular/router/blob/master/docs/content/configuration.md).  It took me a while to figure out that the `UserComp` is actually a wrapper of the decorated class.

For a page component:

[code]

If you want to refer to it from an application Component, you need to wrap it:

[code]

`default` means that the Component applies to the default `ng-viewport`.  Th

[2015-05-24 13:41] nalbion commented on #4
This is working for me:

[code]

...example usage:

[code]

[code]

[2015-05-24 13:46] pbastowski commented on #4
Nice work.
Can you chat on gmail/skype now?

[2015-05-24 13:58] nalbion commented on #4
I think I just skyped you.

[2015-06-14 23:32] vacarsu opened #6 "Examples for @State with multiple named views?"
Normally this would look like
[code]

But how would this looks when using the @ State decorator? I tried puting the views object inside and it didn't work.

[2015-06-15 07:33] pbastowski commented on #6
@vacarsu Yes, using named views you would do that. However, you could also use components directly, without using named views, something like this:

First, define each of your sub components, "navbar" and "root"

[code]

Then you'd use the above components in your "root" state's template and there would be no need for named views.

[code]

So, in your `modules/app/app.html` you would use `<navbar>

[2015-06-15 07:40] vacarsu commented on #6
Ahh I see they just become directives! Brilliant! thanks. I got it now.

Edit: One other thing, when using a top level module it seems you have to still import or use angular.extend(window, angular2now) on each child module? Is this true or am I doing something wrong?

[2015-06-15 08:07] pbastowski commented on #6
Well, you shouldn't have to extend window with angular2now in each module. But, you do need to ensure that the module that does the extend runs before any other modules that depend on it.

So I would check in what order are your module files loaded.

[2015-06-15 08:10] vacarsu commented on #6
Yes, I'll looks into, Meteors order of operations are quite complex, especially when moving a large mean stack app to meteor >.<

[2015-06-15 10:21] vacarsu commented on #6
When I remove `angular.extend(window, angular2now)` from each module I get:
`Uncaught ReferenceError: Inject is not defined`

Here is my top module:

[code]

(yes I am building off your angular-meteor example, while porting my app over.)

[2015-06-15 12:05] pbastowski commented on #6
In my example code I don't actually extend window with angular2. See this:

https://github.com/pbastowski/meteor-angular-socially/blob/feature/ng2now/client/app/app.es6.js

However, that is probably not the source of the problem. Can you push your project to github, so that I can have a look at your setup?

Note:
You could add

[code]

to the top of each module, which will import the objects you n

[2015-06-15 17:52] vacarsu commented on #6
Here is the repo.
https://github.com/vacarsu/angular2-now-meteor-example

[2015-06-15 19:32] pbastowski commented on #6
Ok, I see the problem. You created some folders deeper than where `app.es6.js` is located. In Meteor files from the deepest folders get loaded first. Have a read of this, which should help: http://docs.meteor.com/#/basic/filestructure.

So, your home.es6.js, navbar.es6.js, etc files loaded before app.es6.js, which is why Inject, etc were not defined.

You could fix this in several different ways,

[2015-06-15 19:37] vacarsu commented on #6
Well the reason why I have the folder stucture the way it is, is because all the dependant modules must load before the main app.js, putting the angular extend in a lib folder with app right now. That seems to have gotten things working as expected, thanks a bunch! I'll close this now.

[2015-06-15 19:37] #6 closed

[2015-06-15 22:45] vacarsu opened #7 "Top level state with many nested state views?"
Similar to the last issue I opened, but slightly different. I have a "Admin panel" section that has a top level route, I managed to get the menu into a directive but I have a named view that changes based on the route, So this can't be a directive hardcoded into the template it must be a named view. I tried putting the directives in the abstract state template but when I go to /administrator/panel

[2015-06-16 04:27] vacarsu commented on #7
I got it working.. apparently forgetting @ Inject does some odd things.

[2015-06-16 04:27] #7 closed

[2015-06-22 15:38] Huck opened #8 "race condition in setting angular.module to SetModule;"
We are using angular2-now and its pretty amazing.

we found a bug where there seems to be a race condition between angular and angular2-now where angular.module is not always set to SetModule;  By using angualr2now the usual way, our app doesnt always load becuase this override of angular.module is not always set.  When we add the below code at the top of out .ts file to our app, then it loads cor

[2015-06-22 20:25] pbastowski commented on #8
Are you perhaps lazy-loading the library (with systemjs/jspm)?
The problem could be with angular2-now loading and executing before AngularJS does.

I have not encountered this issue as yet myself. However, my code is always bundled and sequenced in the bundle in dependency order, with angular2-now depending on AngularJS. So, AngularJS always loads before angular2-now.

How do you bundle your code

[2015-06-22 20:37] Huck commented on #8
Hi, thanks for the prompt answer.

yes, we are using System.js to load the library, although we ensure that shim/meta configs are properly set to ensure angular2-now loads after angular.

[2015-06-22 20:44] pbastowski commented on #8
Without seeing your code it is difficult for me to diagnose it. But, I have an idea.

Could you try the following for me: in every module where you use **angular2-now** annotations, replace `angular.module` with `SetModule`.

Does this help solve the issue?

[2015-06-23 10:15] joaofernandes opened #9 "directives don't get processed"
Hi, I'm trying to get Angular 1 directives to get processed with angular2now but I'm unable to get them running.

My directive is defined as this

var {Directive, Inject } = angular2now;
angular.module('App');
@Directive({
    selector:'header',
    restrict: 'E',
    scope: {},
    templateUrl: 'header-template.html',
    injectables: ['$compile', '$location']
})
export class Header
{
    constru

[2015-06-23 13:11] Huck commented on #8
Hi,

replacing all angular.module with angular2now.SetModule('foo',[]);  works like a charm. We will stick to this from now on.

by the way, thanks for your library, its really nice.

regards

[2015-06-23 13:11] #8 closed

[2015-06-23 18:06] joaofernandes commented on #9
Ok it seems that templateUrl gets overridden by target.templateUrl, is there any reason why? If I define in @Directive({templateUrl:.....}) shouldn't it be kept?

I've commented   "options.templateUrl = target.templateUrl || undefined;" and it stars working.

[2015-06-23 18:51] pbastowski commented on #9
@joaofernandes Looking at your brief examples, I can see that you are not actually using the library the way it is intended, which is why you are not getting the results you expect. I would suggest reading the README again to familiarise yourself with the API.

Also, you might want to have a look at my other example's on github, such as:
https://github.com/pbastowski/Thinkster-MEAN-Tutorial-in-ang

[2015-06-23 20:40] joaofernandes commented on #9
Thanks for the reply, currently I don't have access to the code but I didn't use the bootstrap method because we're using AngularAMD to lazy load views/controllers only when required. Is this required to make our old directives work in this new format?

Regarding the $element, $attrib and $scope I'll try that tomorrow once I get to work, thanks for the tip.

Regarding the controller is the same ap

[2015-06-23 21:02] pbastowski commented on #9
I see the problem now: you are not looking at my angular2-now branch of socially, but the "older" style that uses controllers, etc.

Try this branch: https://github.com/pbastowski/meteor-angular-socially/tree/feature/ng2now.

And specifically, this shows you how to bootstrap:

https://github.com/pbastowski/meteor-angular-socially/blob/feature/ng2now/client/app/app.es6.js

Also, if you lazy-load an

[2015-06-24 17:15] joaofernandes commented on #9
Ok I got it working with both lazy loading and following your directions. My directives do get access to $scope,$element,$attrs with no problem and so, no link function is required.

My only issue right now is that my variables defined using bind

@Component({ selector:'tile',
    bind:
    {
            item: '=',
            template: '@',
            controller: '='
    }
})

are now stored in

[2015-06-24 18:26] pbastowski commented on #9
Unfortunately no. bindToController still requires controllerAs, and you **can't** assign an empty string to controllerAs (controllerAs: ''). However, you could use a short prefix, such as 'vm', for example. Personally, I would also prefer to use no prefix, since each component get's it's own private scope, but there is no such option in AngularJS 1.4.

You can tell angular2now to always use 'vm' o

[2015-06-25 15:32] pbastowski commented on #9
I'm closing this issue. It is not an angular2-now bug :)

[2015-06-25 15:32] #9 closed

[2015-06-25 20:38] joaofernandes commented on #9
Hi thanks for the hints, I managed to get everything working as expected. It's really too bad requiring the controller reference it the views but it will be easy to migrate once 2.0 ships thanks to the global controller definition.

I noticed that Angular 2 does provide support for property selectors by defining [selector] instead of just selector. Do you think angular2now could support that inste

[2015-06-25 20:49] pbastowski commented on #9
You are welcome :)

More Angular 2 features are on my roadmap, but I can't say when I'll implement any of them.

For the moment, the library is working quite well for what myself and my team need from it. New features get implemented as required, when we identify a use case that reduces our coding, for instance, or improves maintainability.

[2015-06-30 23:36] vacarsu opened #10 "Create state without component?"
I'm trying to create a state without a component. The error I get is:
[code]
the state I'm trying to create:
[code]

and how do I add a view to the state, since templateUrl doesn't seem to work in @ State

[2015-06-30 23:59] pbastowski commented on #10
Did you do the following?

meteor add angularui:angular-ui-router

And in your code

SetModule('myApp', ['angular-meteor', 'ui.router']);

[2015-07-01 02:55] vacarsu commented on #10
Yes I have ui router installed and I have SetModule in my app.es6.js file. I think it was a load order issue, I made app.es6.js load first by putting it in /client/lib, now I get `Uncaught Error: [$injector:modulerr] Failed to instantiate module vdexter due to:
TypeError: Cannot read property 'length' of undefined`

[2015-07-01 12:52] pbastowski commented on #10
Do a

[code]

on your project. I've made a small change that should fix things for you.

And then have a look at this: http://jsbin.com/tipeqa/edit?html,js,output for a working example.

[code]

[2015-07-01 16:35] vacarsu commented on #10
I ran meteor update and added templateUrl, still getting the following error.

[code]

I put up a repo so you can see how I am doing this. I'm probably just missing something. Still getting used to meteor, and your library. https://github.com/vacarsu/vdexter

[2015-07-01 16:55] jacobdr opened #11 "Better explanation of "ReferenceError: SYMBOL_ITERATOR is not defined" error"
This is related to #9 (which was resolved) -- essentially it seems that the @Componenent annotation is calling out to jQuery but doing so using an anonymous function that doesn't really give a helpful stack trace.

For example, I get error messages like this in my console:

[code]

I was hoping that we could either try to work on improving the documentation around the @Component (for example, the

[2015-07-01 17:02] pbastowski commented on #10
If you push your repo to github then i can have a look at what's wrong.
Did you look at the link I sent you earlier. It actually works.

[2015-07-01 17:04] vacarsu commented on #10
I sent the link in the previous comment do you not have access to see it? I did look at the example and I have it setup up like that not sure where the error is coming from.

[2015-07-01 17:13] pbastowski commented on #10
Sorry, I'm not at the computer now :)

[2015-07-01 17:17] vacarsu commented on #10
That's okay no rush. I'll keep messing around with it maybe I'll figure it out.

[2015-07-01 19:43] pbastowski commented on #10
OK, so the reason you get the error is because you have an @Inject with an empty list :) Omit the @Inject until you have something that should be injected, see below.

![image](https://cloud.githubusercontent.com/assets/5649024/8463377/221d819e-203a-11e5-93a8-3d25f64a7070.png)

[2015-07-01 19:58] vacarsu commented on #10
Hah okay thanks for your help works perfectly now. :)

[2015-07-01 20:01] pbastowski commented on #11
@jacobdr I'm open to documentation improvements. Perhaps you would like to help with a PR?

I have not documented the bind options "=", "@" and "&", because they are exactly the same as those documented here https://docs.angularjs.org/api/ng/service/$compile under the heading `Directive Definition Object`, sub heading `scope`. Perhaps we could add the link to the relevant AngularJS documentation.

[2015-07-01 20:11] pbastowski commented on #10
I have pushed a fix for the above error. So, if you provide @Inject with an empty array it will just ignore it.

[code]

[2015-07-01 22:19] jacobdr commented on #11
The work that you have done so far is really awesome -- and until the Angular2 docs get updated (they are really pretty sparse right now...) your project allows our team to experiment with the new syntax while being able to fall back on the old API without penalty.

I am very happy to help out. I am actually pretty new to Angular2 (and even Angular1), and so am reading through your source and tryi

[2015-07-01 23:08] vacarsu commented on #10
Is there any other reason why I would be getting TypeError: Cannot read property 'length' of undefined again? it just randomly started happening again with or without @Inject I updated the repo if you want to check.

[2015-07-01 23:15] vacarsu commented on #10
It seems if I update to angular2-now from 0.2.9 to 0.3.1 the update doesn't take. I've tried from the command line and by hand in the versions file.

edit: I got it updated to the most recent version by removing the package and reinstalling it. If I remove @Inject or leave it blank it works fine, but as soon as I actually inject something I get that error.

[2015-07-02 03:21] jacobdr commented on #11
Of course my error was a typo in the `@View{templateUrl:path}`.... Not sure if you have any ideas for how to throw an error that would indicate as much, but I'll mull over the source and submit a PR if you think that it is appropriate

[2015-07-02 04:09] jacobdr opened #12 "Documenting the treatment of camel-casing, and treatment of class name capitalizations"
Right now, the implementation of [camelCase](https://github.com/pbastowski/angular2-now/blob/master/angular2-now.js#L176) and [unCamelCase](https://github.com/pbastowski/angular2-now/blob/master/angular2-now.js#L182) require the user to utilize a hyphen ("-") for camelCasing and unCamelCasing to work.

For example:
1.  `camelCase('tunafish')` => "tunafish"
2.  `camelCase('tuna-fish')` => "tunaFish

[2015-07-02 06:43] pbastowski commented on #10
@vacarsu good pickup :) Thanks for reporting this new error. I have fixed it and pushed version 0.3.2.

Regarding updating to new package versions, before doing a `meteor update` I always stop Meteor first. Then, I update and start Meteor again. I do this, because it is my experience that if Meteor is running and I do a `meteor update`, the update doesn't seem to take with any package. Even though

[2015-07-02 06:55] vacarsu commented on #10
Okay I will start stopping meteor before updating. And thanks for the quick updates!

[2015-07-02 06:55] #10 closed

[2015-07-02 06:56] pbastowski commented on #11
This error is a known issue with Angular-Meteor. You'd also get this error if you weren't using angular2-now and you mistyped the name/path of a template in a templateUrl. So, a typo in the template path results in some weird angular error, which doesn't seem to relate to anything. However, it is not actually to do with angular2-now.

The solution, as I see it, would be to verify that a template p

[2015-07-02 07:00] pbastowski commented on #11
Regarding mixing normal code with angular2-now, the best advice I have is don't do it.

Also, try to not use stand alone controllers at all.

I have some examples listed at the top of the README, which show how to put together applications with my library. Perhaps those would help?

At work we are using angular2-now in production on some larger projects. I was thinking about extracting some best-p

[2015-07-02 07:18] pbastowski commented on #12
@jacobdr point 4 is a bug in my code. Thanks for picking that up. I'll fix is :)

You can actually use pascal-cased class names already. So, camel-cased `directiveIWantToManipulate` and pascal-cased `DirectiveIWantToManipulate` are equivalent and both will currently work.

Unfortunately, actual class names are lost during the process of minification, which is why you can have any name for the clas

[2015-07-02 12:46] jacobdr commented on #12
Thanks for the quick response.

I was actually unable to produce the same results in my code by moving to Pascal-Case -- so that a `class TestModule()` attached to the component, and `TestModule.xyzProperty` syntax in my template (via url), with a directive/selector of <test-module> **does not** produce the same result as a class named `class testModule` and `testmodule.Property` syntax and with t

[2015-07-02 12:47] #11 closed

[2015-07-02 13:56] pbastowski commented on #12
Hmmm.... I would have to see your repo to better understand your issue with the PascalCase vs camelCase issue. However, for me, with Meteor and Babel either case works. That is, I have to choose one case, either `class TestModule` or `class testModule` and then use that same case in all places in my code where I refer to it.

For testing we use the Meteor package `sanjo:jasmine`. Github repo here:

[2015-07-02 16:32] vacarsu opened #13 "I'm not sure if my controllers are being created properly."
I have a state setup as follows

[code]

I have tried accessing the register function in the template via register.register(), and I have also tried setting the scope name via angular2now.options({ controllerAs: 'vm' }); in app.es6.js. Both ways seem to not work. However, when I go to the state at /register the $rootScope.currentUser does get logged as undefined which is expected.

[2015-07-02 17:11] pbastowski commented on #13
The reason why `register.anything` is not working is because you don't have a @Component defined for this route. Only components create their own private scope that you can access through the camelCased component selector name, in your case `register`.

The example code is what I would call the "old" way of defining routes with controllers and templates :)

Consider doing it this way instead:

[co

[2015-07-02 17:19] vacarsu commented on #13
Okay that makes sense, so I must create a component for it, but I don't necessarily have to use the selector for it?

[2015-07-02 17:32] pbastowski commented on #13
Each component always has a selector.

Have a look at this example to see how it all fits together. It is in ES5, but you will notice familiar things:

http://plnkr.co/edit/uxV781?p=preview

[2015-07-02 17:36] vacarsu commented on #13
Thanks for that example, I get it now. Got it all working.

[2015-07-02 17:36] #13 closed

[2015-07-02 18:43] jacobdr commented on #12
Gotcha. I am using the Typescript 1.5.0 beta, so that could be a cause of our difference. Let me try to write a test to reproduce and then update this thread.

[2015-07-02 20:13] jacobdr commented on #12
Also all of the examples on the README.md page use camelCase and not PascalCase, which is maybe something we ought to consider changing as well given class naming conventions.

[2015-07-02 20:20] pbastowski commented on #12
I was thinking the same thing. Actually, the whole page needs an overhaul. Better examples from my current projects would help newcomers too.

[2015-07-10 03:47] vacarsu opened #14 "Error when using resolve in @State"
[code]

I think it must be caused by one of the recent updates, I have tried both of the following.
[code]
and I know this one works in several of my other apps that I have not updated.
[code]

[2015-07-10 08:16] pbastowski commented on #14
I also saw this error and am trying to track it down.  Not a 100% sure, but I think it is something to do with the Meteor package version clashes / incompatibility. But, still looking

In the meantime, I have a jsbin, http://jsbin.com/tipeqa/12/edit?html,js,output, which shows that I can resolve a value and use ngAnimate with Angular 1.4.2 and with the latest version of angular2-now code.

Why do

[2015-07-10 08:17] vacarsu commented on #14
Ah I see, well. I can't really give up ngAnimate as I'm using angular-material.

[2015-07-10 08:57] pbastowski commented on #14
I'm not giving up either. Still looking for a solution that works reliably with Meteor.

[2015-07-10 18:58] vacarsu commented on #14
Do you suggest I downgrade to an older version in the meantime, and if so what version do you suggest I use?

[2015-07-10 20:05] pbastowski commented on #14
I found the bug and fixed it in v 0.3.4. Please try

[code]

and let me know if this fixes it for you.

[2015-07-10 20:09] vacarsu commented on #14
Yes, looks like it's working great! I just need to find a local storage package. mrt:ngstorage throws an error as soon as I install it. Do you know of one already wrapped for meteor? I've tried wrapping several other packages like braintree-angular, and have never succeeded. It seems like npm packages do not like being imported from the meteor server to the client. At least I assume this is what i

[2015-07-10 20:15] pbastowski commented on #14
Actually, localStorage is very easy to use and does not require any kind of package, see below:

[code]

Type the above in your dev console. This works from IE8 and up, which is very nice :)

[2015-07-10 20:16] vacarsu commented on #14
Oh nice, I will try that. Thanks.

[2015-07-10 20:16] #14 closed

[2015-07-22 10:20] tinocencio opened #15 "Filter in Angular"
Hi, I'm trying to get Angular 1 directives to get processed with angular2now but I'm unable to get them running.

My filter is defined as this

var {SetModule, Filter} = angular2now;
SetModule('App');
@Filter('currencyFilters')
export class CurrencyFilters
{
	constructor() {
		return function(input) {
			var ret=(input)?input.toString().trim().replace(",","."):null;
			return parseFloat(ret);
		};

[2015-07-22 11:15] pbastowski commented on #15
Your filter definition is fine, but have you:
- bootstrapped the app
- are you using the filter correctly?

Have a look at the example below, which uses your filter and actually works.

http://jsbin.com/tipeqa/14/edit?html,js,output

The example is a bit long, because I just plugged your filter code into something else that I was working on, but if you look for `currencyFilters` you will find your

[2015-07-25 18:02] pbastowski commented on #15
@tinicencio Did my explanation help you?

[2015-07-25 22:54] robertbaker opened #16 "Typescript definitions"

[2015-07-26 06:20] pbastowski commented on #16
@robertbaker Could you please elaborate on your issue?

[2015-07-26 18:41] ghost commented on #16
@pbastowski Typescript definitions are needed for the decorators to use this in a typescript app.

[2015-07-26 19:02] jacobdr commented on #16
@pbastowski would be the authoritative source for this, but I don't think that TypeScript definitions for angular2-now have been submitted to the [DefinitelyTyped](https://github.com/borisyankov/DefinitelyTyped) repository.

However, on any page in which angular2now has been successfully loaded (or attached to the window), you can always use a `declare var angular2now;` statement in your `.ts` fil

[2015-07-26 19:10] ghost commented on #16
This is what I have so far:

[code]

[2015-07-26 20:59] robertbaker opened #17 "Attributes?"
How can I declare Attributes?

Does it assume a @Component is an attribute is no @View is used?

Also for directives how can I set transclude: true or require: ngModel

[2015-07-26 23:23] robertbaker opened #18 "JSPM/SystemJS"
`jspm install npm:angular2-now`

In my config.js

[code]

in my appModule

``
'use strict';
import 'angular';
import 'angular-ui-router';
import {Component, View, Inject, options} from 'angular2now';
import {Component, View, Inject, options} from 'angular2-now' // tried this too;
angular2now.options({controllerAs: 'vm'});
``

Made no difference.

I think you need to add format: "amd" to the packag

[2015-07-27 00:06] ghost commented on #1
@maku Did you get this working w/o needing the fork?

I created the typescript definitions : https://github.com/pbastowski/angular2-now/issues/16

[2015-07-27 02:07] jacobdr commented on #16
Any chance you could submit this as a feature branch so that people can more easily pull it in for review?

[2015-07-27 04:48] maku commented on #1
@robertbaker I wrote something myself

[2015-07-27 05:16] pbastowski commented on #16
Guys I'd like to help, but I'm on vacation right now without a computer.

Hovever, please have a look at this fork which uses typescript with angular2now. Perhaps it will help.

[2015-07-27 06:27] ghost commented on #16
@pbastowski If you are talking about @nalbion's fork, that's a bit out of date. I could update it though.

@jacobdr I will once I get this working.

[2015-07-27 06:28] ghost commented on #1
@maku Can you give me some hints? I'm using the master branch and it isn't working with JSPM/SystemJS

[2015-07-27 06:49] maku commented on #1
@robertbaker sorry I don't use angular2-now (wrote some decorators myself)

[2015-07-27 06:50] pbastowski commented on #1
I am working on it and have a working beta version, but won't be able to release it until after I come back from my vacation in August. Sorry.

[2015-07-27 07:05] ghost commented on #1
@pbastowski Can you share what you have with me?

I'm trying to implement this in an app currently under development and spent a lot of time refactoring the project to use it. If I can't use it, then I just wasted a weekend, and will basically have to re-do everything once it's released since it's under active development.

[2015-07-27 07:28] pbastowski commented on #1
Sorry, it's on my laptop at home and I'm on vacation. I will be back around 13 August and will try to release it asap then.

[2015-07-27 07:32] pbastowski commented on #1
However, you could for now just extract the core of my code, the part within the function wrapper, and then add "export" before each of my decorator functions. Then, jspm will see each exported function and make it visible when you import from the library.

Or, as suggested earlier, grab all the functions you need from the exported window.angular2now object.

[2015-07-27 07:37] pbastowski commented on #17
1) Attributes:
`
@Component({ ...,
  bind: { myAttr: '=' }
})
`

2) Search the README for ngmodel. There it shows you how to refer to component's controllers, including your own ngModel.

[2015-07-27 07:38] pbastowski commented on #17
Also, bind takes the same syntax as scope with regular Angular 1 attributes.

[2015-07-27 15:29] ghost commented on #17
I mean directives that are restrict A.

On Mon, Jul 27, 2015, 12:38 AM pbastowski notifications@github.com wrote:

[2015-07-28 17:15] pbastowski commented on #15
Closing, as this is not a problem with angular2now.

[2015-07-28 17:15] #15 closed

[2015-07-28 17:18] pbastowski commented on #4
Closing. I do not have enough time to integrate the new router the way I would like to at the moment.

If you need routing please consider using ui-router, which works with the `@State` annotation.

[2015-07-28 17:18] #4 closed

[2015-07-28 17:22] pbastowski commented on #16
@robertbaker yes, I was referring to nalbion's fork. But if it's too far behind then that's no help.

Let's collaborate on this in mid August, when I'm back from vacation.

[2015-08-11 17:28] eXaminator opened #20 "Service providers and factories"
Hi,
would it be possible to add annotations like @ServiceFactory and @ServiceProvider?

I understand that these are concepts that (afaik) won't find their way into angular 2, but as @Service and @Filter currently are pretty much angular 1.x only, I thought those annotations might also help to keep  everything in line.

Great work by the way, I really like this :-)

[2015-08-14 06:40] pbastowski commented on #17
@robertbaker Sorry for the late reply, I was on vacation until yesterday, without my laptop or reasonable internet.

Both "E" and "A" type directives support transclusion. Just add a `<content></content>` block in your `template`'s HTML where you want the transcluded content to appear and transclude will be set to true automatically for you. If using `templateUrl` you'll have to add the `<div ng-t

[2015-08-17 02:59] vacarsu opened #21 "Is there a way to use this with angular server?"
http://angular-meteor.com/server

I'm wanting to try out angular server in one of my apps, but it seems awkward when using angular 2 now on the client side. Is it possible to extend it to the server also?

[2015-08-26 12:13] pbastowski commented on #21
@vacarsu Are you saying that you'd like to be able to do @Service, etc on the server side with angular-server?

[2015-08-29 18:38] pbastowski commented on #21
For the moment I have no plans to support angular2-now on the server side, as I don't actually use angular-server myself in any of my projects.

[2015-08-29 18:38] #21 closed

[2015-08-29 22:06] pbastowski commented on #20
@eXaminator Sorry for the late reply.

Sure, it is possible and they would be useful at times. Are you able to code the JS functions that implement `@ServiceFactory` and `@ServiceProvider` by looking at how I implemented @service - see below? Unfortunately, I don't have the time at this moment to write and test them myself.

[code]

[2015-08-30 14:52] eXaminator commented on #20
I'm wondering: Do you have any thought about how to handle injection for the $get method of a provider? Is there any way we can use the annotations on class methods?

[2015-08-31 18:16] pbastowski commented on #20
Yes, we could. However, I think it is easier to do something like this (ES6 code):

[code]

What do you think?

[2015-09-01 07:43] pbastowski commented on #17
I hope the question was answered adequately. I'm closing this issue.

[2015-09-01 07:43] #17 closed

[2015-09-01 07:56] eXaminator commented on #20
Ok, I thought about this a bit more and to be honest: I'm not sure I'm keen on the idea of providing these annotations/decorators anymore. Yes, I know I was the one asking for them in the first place, but hear me out.
1. It seems that best practice (especially in ES6) is to use `angular.service` instead of .factory. There is not much you can do in factory that you couldn't do with a simple service

[2015-09-01 08:28] pbastowski commented on #20
I agree. I only ever use @Service in my own apps and I don't like providers or config phases either. My code above was just for quick illustration purposes, since you had asked the question :)

BTW: If you have a look at @State you'll see how I hid the inner workings of the config phase.

Could you post your implementation of @Inject?

[2015-09-01 09:04] eXaminator commented on #20
Ok, here is my implementation. Just some notes:
- I created this more or less from scratch, so that's why it's not backwards compatible right now.
- This runs outside of the whole angular2-now "environment" right now.
- I got rid of namespaces as I don't use them, so before creating a PR or anything I would have to add namespaces back in.
- It can handle inheritance. I forgot where I took that ide

[2015-09-01 14:31] pbastowski commented on #20
I like it and will integrate it into angular2-now, including the fallback for deps passed as an array.

Thanks.

[2015-09-01 14:42] eXaminator commented on #20
I forgot to mention: This should also work on all injectable methods. Example:

[code]

[2015-09-01 15:16] pbastowski commented on #20
Yes, I saw that :)

[2015-09-15 21:25] rvboris opened #22 "How to get parent scope in view"
In this [example](http://plnkr.co/edit/JhHlOr?p=preview) i can not get myApp scope from a child state in views

[2015-09-15 21:30] rvboris commented on #22
Update, i found {{$parent.myApp.test}}

[2015-09-15 21:30] #22 closed

[2015-09-16 08:35] pbastowski commented on #22
@rvboris Yes, that's definitely one way to do it.

I have also updated the plunk to show how to access the parent component's controller in a child component's constructor function. See feature-two.js.

[2015-09-16 23:25] rvboris opened #23 "Abstract state bug"
Strange bug when i creating abstract state not from bootstrap function, template is not showing, if i add templateUrl to @State it's work, but scope vars is broken

Example http://plnkr.co/edit/74WX9lcXLOVSpEiG4wwU?p=preview

[2015-09-17 07:59] pbastowski commented on #20
I have incorporated your Inject functionality in the 3.6 release. Thanks again.

Closing this issue.

[2015-09-17 07:59] #20 closed

[2015-09-17 08:02] pbastowski commented on #23
Could you provide more detail. Which JS file are you referring to and what line number? What have you changed in the code and/or template? etc
Then I can help you  :)

[2015-09-17 08:14] pbastowski commented on #23
OK, I just saw your new files.

Any reason you are using an abstract state in testwrap?

Abstract states are normally used for setting up globals, configuring stuff, etc. Not normally used for displaying components. If I remove `abstract:true` from your code then the templates do display. Is this what you were after?

[2015-09-17 08:41] eXaminator commented on #20
You are welcome! :)

[2015-09-17 10:20] rvboris commented on #23
I using abstract state for display page layout, like header, footer etc and setup some globals. You propose on each page to create the same components?

[2015-09-17 11:39] pbastowski commented on #23
I'm not proposing anything like that. I'm just saying that your use of on `abstract` state may not be appropriate for what you want to achieve.

Have a look at the link below and let me know if this is the result you are after:

http://plnkr.co/edit/aTuyJsmb1pG10MVmmP9n?p=preview

[2015-09-17 11:54] rvboris commented on #23
Yes this is exactly what i need!
I never seen xabstract param before

[2015-09-17 12:00] pbastowski commented on #23
xbstract does not exist :) I use `x` sometimes to "comment out" a parameter temporarily when I don't want it there.

Here is a version with out the xabstract parameter: http://plnkr.co/edit/aTuyJsmb1pG10MVmmP9n?p=preview

[2015-09-17 12:05] rvboris commented on #23
:) But now i have direct access to testwrap without child state (it can be empty page with header/footer)

[2015-09-17 15:23] pbastowski commented on #23
Yeah. That looks like a missing feature. I will look into it again later today.

[2015-09-17 16:44] pbastowski commented on #23
I have fixed the angular2-now.js file in the plunker and it now works as expected with your "testwrap" as an abstract state. This means that "testwrap" will provide a template for it's child state "test", but can not itself be activated directly.

http://plnkr.co/edit/aTuyJsmb1pG10MVmmP9n?p=preview

I will do some more testing and when I'm satisfied that it's good I'll push it to github.

[2015-09-17 18:53] rvboris commented on #23
working as I expected, thanks

[2015-09-17 23:00] pbastowski commented on #23
OK, I'm closing this then.

[2015-09-17 23:00] #23 closed

[2015-09-25 18:53] jjstrat3 commented on #16
Any progress on this?  I'd be very interested in using angular2-now in a Typescript project I've started at my job.

[2015-09-26 15:29] pbastowski commented on #16
No progress yet. I'm not currently using TypeScript in any of my projects, so, it has low priority.

[2015-10-27 06:06] vacarsu opened #24 "Error when using $regex in subscription"
I get the following when trying to use $regex in a subscription.
[code]

Here is the the subscription.
[code]

[2015-10-27 14:15] pbastowski commented on #24
Doesn't look much like it's related to angular2-now. However, let's see if I can help you anyway...

At first looks I think your `$scope.getReactively('vm.value')` is returning either an `undefined` or an empty string. If that's the case then the error message makes sense, because you can't do a `/*/` regex. There must be something before the `*`. So, `/a*/` would match any number of "a"s, for exa

[2015-10-27 22:35] vacarsu commented on #24
I worked around it by using using an autorun function and only running the subscription if vm.value isn't null or undefined.

[2015-10-27 22:35] #24 closed

[2015-11-04 00:43] mbutsykin commented on #18
@robertbaker, if this is still actual for you :)
try

[code]

or add

[code]

directly to **jspm** in _package.json_ and then reinstall the package

[2015-11-04 00:55] ghost commented on #18
@mbutsykin thanks, maybe I'll try it out someday.

I ended up writing a "Module" class that removes a lot of the boilerplate and stuff. Does a lot of what this does, except no decorators. I hope I can revisit this and implement it.

[2015-11-14 12:27] thomaskoren opened #26 "using angular2-now in a meteor package results in "_angular2now is undefined" error"
given a project setup with the following structure
[code]

common-base-package introduces angular2-now (and others) in packages.js:
[code]

when importing from angular2-now in client-package: e.g.
[code]

and trying to start the app, the following error is shown:
[code]

everything works just fine when angular2-now is used from inside a meteor app context.

[2015-11-14 18:29] pbastowski commented on #26
I need more info to help diagnose this issue:
- What version of meteor are you running?
- What's version of the `angular` package?

Also, could you share the repo, so I can have a look at it myself?

In any case, the `imply` methods need a version, otherwise you'll probably get the oldest versions available, which may not have what you need.

[code]

if you're using the latest version of `angular@

[2015-11-14 19:57] thomaskoren commented on #26
short reply: according to your input, everything is as it should be.

in detail:
- meteor version 1.2.1
- angular@1.2.2
- pbastowski:angular2-now@0.3.14
- pbastowski:require@0.0.3
- removed ecmascript
- removed pbastowski:ecmascript-extras

i stripped out everything from my project leaving only code defining dependencies and app startup.
see https://github.com/thomaskoren/meteor-angular2now-test

[2015-11-14 20:15] pbastowski commented on #26
I just had a look at your repo, but I can't see how it can work at all when the packages folder is outside of the meteor app itself. What I mean is that the app folders should be structured as shown below. Meteor needs to see your packages folder in the root of your Meteor app.

[code]

And then of course you need to add all your custom packages to the Meteor app

[code]

[2015-11-14 20:50] pbastowski commented on #26
For instance, I have the setup shown in the picture below, which works just fine.
![image](https://cloud.githubusercontent.com/assets/5649024/11165766/a99ceb74-8b19-11e5-824e-fb94856b260f.png)

Notice that `meteor list` shows there are only two packages in the meteor project.

[2015-11-14 22:41] thomaskoren commented on #26
the packages get resolved, because of an evironment variable `PACKAGE_DIRS` which points to a directory containing all my custom packages.

what i ultimately try to achieve here is, to implement one common backend component, which will be accessed by several individual client apps. to prevent data regression errors (and other ugly side effects of separated code bases), i want to share common code

[2015-11-15 19:55] pbastowski commented on #26
You could try using symlinks instead of PACKAGE_DIRS, to make the package's directories appear under the packages directory in your app root.

[2015-11-15 21:01] thomaskoren commented on #26
good point, but stuck on windows here ;)

windows symlinks/junction points are not reliable: write errors, system hangs (especially when the linked dir is being watched by something like a live-compiler).
git-submodules are possible, but quite inconvenient (syncing submodule commits with app-repo commits).
PACKAGE_DIRS seemed like a nice way to maintain something like a "machine-local package repo

[2015-11-15 22:00] pbastowski commented on #26
PACKAGE_DIRS seems to work fine for me, see shell log below. But, I'm on OS X, not Windows.

So, I have two directories:

[code]

The packages directory is where I put the two package folders `base` and `bundle`.
The `ng2now-bundle` folder has only the client directory with three files in it.
The rest you can see in the log below.

[code]

[2015-11-16 08:26] thomaskoren commented on #26
do you have a js file with something like

[code]

in `~/tmp/packages/bundle/`?
that's what triggers the error in my setup.

as long as `import ... from "angular2now"`only exist in the app project folder (in your case `~/tmp/ng2now-bundle`) everything works as expected.

[2015-11-16 21:58] pbastowski commented on #26
I've just pushed angular2-now@0.3.15. It should work for you now.

Please let me know if it helped.

[2015-11-18 18:40] pbastowski commented on #26
Under the assumption that it's now working for you, I'm closing this issue. If it doesn't work then let me know.

[2015-11-18 18:40] #26 closed

[2015-11-19 01:51] thomaskoren commented on #26
Sorry, i haven't had time to test your update until now.
Your changes look promising, but there might be one final little piece missing:
I updated your package and added some simple components to the client sub package. Those components import and use several angular2now elements including: SetModule, Component, View, Inject and State.
No more errors during compilation and loading of js files in t

[2015-11-22 10:32] pbastowski commented on #26
Hi Thomas. Sorry, I've been busy and only just got back to your question.

I think you might just be missing 'ui.router' in your SetModule dependencies list.

[code]

And you also have to add ui-router to the package that will be using it

[code]

The above setup works for me.

[2015-11-26 23:45] pbastowski commented on #12
Closing this now. If need be it can be reopened.

[2015-11-26 23:45] #12 closed

[2015-12-22 15:05] hlehmann opened #30 "Inject(['$foobar']) in this.$injected.$foobar"
An idea in order to make injections available in prototype's methods.

[2015-12-22 17:49] kamilkisiela opened #31 "Error while compiling: Unexpected token"
Error while compiling:
[code]

Startup error:
[code]

I'm using:
[code]

[2015-12-22 20:28] pbastowski commented on #31
Could you please provide a link to a repo I can look at?

[2015-12-22 20:29] pbastowski commented on #30
I'm not sure what the idea is. Could you elaborate on how this would work and provide some code examples. Thanks.

[2015-12-22 20:30] kamilkisiela commented on #31
It's the private repo but I'm going to reproduce it in a moment.

[2015-12-22 20:42] kamilkisiela commented on #31
@pbastowski [Here it is](https://github.com/kamilkisiela/angular2-now-unexp-token)

[2015-12-22 21:02] pbastowski commented on #31
I've made changes to your repo to make it work. There were quite a few changes, so, you'll want to read the commit logs to see what I did.

Please give me push rights to the demo repo on github and I will push my changes to it.

[2015-12-22 21:07] kamilkisiela commented on #31
Ok, you can check now. There were few errors in app.js but the unexpected token error was right before them. So I didn't want to push new commits with fixes, thought it was unrelated.

[2015-12-22 21:09] pbastowski commented on #31
Done. I hope this helps you.

In summary:
- removed babel.json, as it is not needed
- removed babel.rc as it's not needed
- removed mostly empty app.js in client folder
- moved app.js from root to client folder. client code in the root folder will cause errors unless wrapped in `Meteor.isClient()`
- user `var` {} = angular2-now instead `const`
- added options to set `vm` as the default controller

[2015-12-22 21:12] kamilkisiela commented on #31
@pbastowski Yeah, I build it as fast as I can so I didn't think about moving it to /client etc.

So basically, unexpected token error was caused by using not proper version of package? For Meteor 1.2+ I have to use angular2-now in version 1.0.0+?

[2015-12-22 21:13] pbastowski commented on #31
Yes.

Any specific reason you added babel.json and babel.rc?

[2015-12-22 21:17] kamilkisiela commented on #31
I think it is just a leftover. I was using your ecmascript-extra couple weeks ago.

[2015-12-22 21:19] pbastowski commented on #31
OK, cool.

Closing the issue.

[2015-12-22 21:19] #31 closed

[2015-12-22 21:21] kamilkisiela commented on #31
@pbastowski My app was working right, but then I updated packages below and got error:

pbastowski:angular-babel@1.0.6 to **1.0.7**
angular@1.3.0 to **1.3.1**
pbastowski:angular2-now@0.3.15 to **0.3.17** ~~without changes~~

I will use angular2-now 1.0+ version so you can close issue.

[2015-12-22 21:23] pbastowski commented on #31
Do you mean to say that `meteor update` gives you "angular2-now@0.3.15" automatically?

[2015-12-22 21:23] kamilkisiela commented on #31
I set @0.3.17 manually to one of my package

[2015-12-22 21:28] pbastowski commented on #31
Why not use @1.0.2? Are you using Meteor 1.1?

[2015-12-22 21:32] kamilkisiela commented on #31
I recently moved my app to Meteor 1.2. Ok, now I'm going to use @1.0.2.

Thanks for your help and angular2-now :)

[2015-12-22 21:34] pbastowski commented on #31
You are welcome.

[2015-12-22 21:47] kamilkisiela opened #32 "Npm package is out of date"
Available versions:

https://www.npmjs.com/package/angular2-now

[2015-12-22 22:30] pbastowski commented on #32
Thanks. I updated it to 0.3.17, which is mostly the same as 1.0.2. However, I haven't done enough testing with @1.0.2 as an npm package to release it on npm.

[2015-12-23 10:31] hlehmann commented on #30
Yes of course, something like that.

[code]

[2015-12-23 11:23] pbastowski commented on #30
Thanks for your example. It's clear to me now what you're asking.

Consider the example below:

[code]

The above syntax is TypeScript. Could you use TypeScript instead of Babel? It's a drop in replacement for Babel in most cases. No need to learn anything new and no requirement to declare types anywhere, as they are completely optional.

In TypeScript, the `private` keyword automatically puts the

[2015-12-23 11:26] kamilkisiela commented on #30
@hlehmann I have class to do that. I can publish it if you want.

Example:

[code]

[2015-12-23 12:27] pbastowski commented on #30
Nicely done. Angular-meteor also uses such an approach to provide reactive extensions, for example.

However, using `extends` with a utility parent class "eats up" your ability to extend from other classes. It may not be a problem this time, but I have experienced such a problem myself recently. Just something to think about.

[2015-12-23 16:02] kamilkisiela opened #34 "Bug: Duplicated injectables"
When decorator's target has the same injectable (in target.$inject) as one of these provided by @Inject() decorator it will be duplicated. It's on meteor1.2 branch (probably on the others also).

Am I wrong or duplicates should be removed?

If so, I'm going to fix it on my branch with unit-tests.

[2015-12-23 20:29] kamilkisiela opened #35 "Bug: cannot set specific restriction on component / directive"
Line: https://github.com/pbastowski/angular2-now/blob/meteor1.2/angular2-now.js#L181

For master branch it is the 171th line.

[code]

so restrict option is basically skipped all the time.

[2015-12-23 20:32] kamilkisiela commented on #35
@pbastowski I fixed it here https://github.com/kamilkisiela/angular2-now/blob/feature/unit-tests/angular2-now.js#L181

[2015-12-23 21:03] pbastowski commented on #35
Good pickup. It's probably been like that for a very long time. Most likely due to no one using the restrict option, but still, a very good pickup.

[2015-12-23 21:03] #32 closed

[2015-12-23 21:04] kamilkisiela opened #36 "Bug: bindToController always true"
because of:
[code]

[2015-12-23 21:07] kamilkisiela commented on #35
@pbastowski Do you mind if I post here each bug? So I can discuss it with you and fix it on my branch with unit testing?

I've done a lot of tests (for now it's a 58% of code coverage)

[2015-12-23 21:09] pbastowski commented on #34
I don't expect `target.$inject` to have anything added there by the user. That's what `@Inject` is for, but, I suppose the user could manually push/unshift into `target.$inject`.

Come to think of it, in my defer-controller-3-decorate branch I do `unshift` $scope into $inject, because I don't know if it's already there. So, I need the ability to have duplicated services in $inject under certain ci

[2015-12-23 21:11] kamilkisiela commented on #34
Oh, I see :)

[2015-12-23 21:25] pbastowski commented on #35
No problem, post away :)

I am not implementing the fixes on my side, because I expect you will have a PR for me when you're done.

Wow, that's excellent progress on your part re the tests.

[2015-12-23 21:28] pbastowski commented on #36
Thanks.

[2015-12-23 21:30] kamilkisiela commented on #35
@pbastowski Yes, I'm going to add PR for each bug :)

I will notify you when code coverage will be about 70%.

[2015-12-23 21:31] pbastowski commented on #30
Since this is not a bug and I don't plan to implement this feature in angular2-now, I will close this issue. We could, however, create a wiki and add a reference to this there.

[2015-12-23 21:31] #30 closed

[2015-12-23 23:53] #35 closed

[2015-12-23 23:53] #36 closed

[2015-12-24 22:35] #34 closed

[2015-12-28 13:49] mlegenhausen opened #46 "npm release 0.3.17 is broken"
Please add a new version to npm the current version is not usable, cause of a missing comma, which is already fixed in github.

[2015-12-28 14:11] pbastowski commented on #46
@mlegenhausen
I've just updated it. Sorry about that.

Could you please check that it works for you now?

[2015-12-28 14:13] mlegenhausen commented on #46
Works thanks for the quick response :)

[2015-12-28 14:13] #46 closed

[2016-01-01 11:10] tuvokki opened #47 "MeteorReactive is not a function"
Hi, I'm trying to use the MeteorReactive annotation referenced in #41 but I get an error stating:

    Uncaught TypeError: MeteorReactive is not a function

I looked up the actual code and it is (indeed) not in the `./.meteor/local/build/programs/web.browser/packages/pbastowski_angular2-now.js` file that gets generated when I start my application. In my versions file I see that I am using `pbastow

[2016-01-01 12:25] pbastowski commented on #47
The reason you can't use this decorator is because it is not yet merged into the release branch or published on atmospherejs.com. The reason behind that is that it has not been tested thoroughly enough yet.

There is, however, a way you can use this new feature while at the same time helping with the testing. To do this `git clone` angular2-now `https://github.com/pbastowski/angular2-now.git` into

[2016-01-01 16:50] tuvokki commented on #47
Thanks for the info. I kinda figured it out an am running it in my local workspace now. I'll do some testing (but I'm kinda a meteor noob so it might not be worth a lot).

While we're at it, I tried to use the `@Input()` annotation, but there is no support for that yet, right? I tried using to pass data into a component directive.

[2016-01-01 16:56] pbastowski commented on #47
That's correct, there is no support for `@Input`. If you need very comprehensive Angular2 support for your Angular1 projects, then you might want to have a look at `ng-forward`. That library is a lot bigger in size and more complex, but also supports more features, if that's what you need.

[2016-01-01 18:34] tuvokki commented on #47
Thanks for the tip. For now I probably can work around it, otherwise I'll take a look at `ng-forward`. If I have any more feedback I'll let you know.

[2016-01-01 18:34] #47 closed

[2016-01-03 19:12] pbastowski commented on #18
@robertbaker

The following SystemJS config works:

[code]

Then in `app.ts` you can do

[code]

Also, see my test repo https://github.com/pbastowski/test-02.

[2016-01-03 19:16] pbastowski commented on #16
The angular2-now NPM repo has been working with SystemJS for a while now, albeit without a .d.ts file. For a simple example see this repo: https://github.com/pbastowski/test-02.

I'm going to close this issue now, but if anyone thinks it should be reopened then please free to do so.

[2016-01-03 19:16] #16 closed

[2016-01-03 19:18] pbastowski commented on #18
Closing this issue, but feel free to reopen if required.

[2016-01-03 19:18] #18 closed

[2016-01-07 21:47] hlehmann opened #48 "Template"

[2016-01-07 22:00] kamilkisiela commented on #48
@hlehmann You forgot about something.

[2016-01-07 22:35] hlehmann opened #49 "@State templateUrl properties doesn't work any more"
Since the refactor, it's not possible to define a `templateUrl` in the State annotation.

I pointed the change:
https://github.com/pbastowski/angular2-now/commit/9982e46071cf8b28b66f49c0581bffd5ddb5ec53#diff-3e972fd2dbab9f5b4c0af1f0c2447076R127

[code]

after update I get `<div ui-view>foo.html<div>` instead of the content of `foo.html`

[2016-01-07 22:51] #48 closed

[2016-01-07 23:17] kamilkisiela commented on #49
We must wait for @pbastowski now, he has The Force to publish a new version :)

[2016-01-08 01:45] hlehmann commented on #49
thx, I didn't notice those conditions.

[2016-01-08 17:16] #49 closed

[2016-01-12 19:45] vacarsu opened #50 "Components break ionic navigation logic."
In app.html I have the following

[code]

But because the routes load a directive around each route, this causes the navigation logic for showing ```view-titles``` and the ```ion-nav-back-button``` to not work properly

example, this is what the resulting html looks like which is causing issues
[code]

Is there anyway of getting the ionic navigation working properly while still using component syn

[2016-01-12 20:22] pbastowski commented on #50
It would help if you could share the JS code also and perhaps a link to the repo, as I have very little experience with ionic.

However, off the top of my head, you could try using the `replace` option on your `@Component` decorator, like this:

[code]

It replaces the Component wrapper with the actual html template code. See the [replace](https://docs.angularjs.org/api/ng/service/$compile#-replac

[2016-01-14 18:13] robhicks opened #51 "Support for Angular 1.5"
Does angular2-now support angular 1.5 and its new components?

[2016-01-14 18:35] kamilkisiela commented on #51
@robhicks What do you mean by that?

There are no breaking changes so angular2now should work with v1.5 (which is a RC atm).

But if you're talking about `angular.component()`.
It is basically just a wrapping function for `angular.directive()`.

Here is a commit with this new feature https://github.com/angular/angular.js/commit/54e816552f20e198e14f849cdb2379fed8570c1a

So I think you can easily us

[2016-01-15 02:43] robhicks commented on #51
@kamilkisiela Thanks that's what I needed to know.

[2016-01-15 02:43] #51 closed

[2016-01-18 14:19] pbastowski commented on #50
@vacarsu So, has my suggestion worked for you?

[2016-01-24 12:19] pbastowski commented on #50
Closing due to lack of response. Please feel free to reopen if required.

[2016-01-25 07:20] #50 closed

[2016-03-12 05:16] dgtlmonk opened #54 "$onInit"
Hi  and thanks for this awesome library :)

I was wondering if Angular 1.5 syntax `$onInit` is supported? What version of angular is this library currently using?

Kind regards.

[2016-03-13 08:40] pbastowski commented on #54
@dgtlmonk Yes it is. $onInit is declared on the class itself, as shown below:

### HTML

[code]

### JavaScript

[code]

[2016-03-18 17:01] #54 closed

[2016-04-19 19:42] DmitryEfimenko opened #55 "Meteor 1.3.2.2 compatibility"
I think this got broken for Meteor 1.3.2.2.
After updating meteor I started getting error: `TypeError: Cannot read property 'init' of undefined`
on line 48 of compiled file.
[code]

[2016-04-19 19:44] pbastowski commented on #55
What version of Meteor were you using prior to 1.3.2.2?

Can you please post the rest of the file, so, I can see what else you are calling?

Or even better, provide me a link to a repo?

[2016-04-19 19:51] DmitryEfimenko commented on #55
I think it was 1.3.1 before the update.
I've added you as a collaborator to the project (it's private).
The whole generated file is below:

[code]

[2016-04-19 20:09] pbastowski commented on #55
The repo you supplied does not include angular2-now in it.

Were you trying to add angular2-now to your repo for the first time?

[2016-04-19 20:11] DmitryEfimenko commented on #55
oh, my bad, I should have clarified. `angular2-now` is a dependency in another package: `dotansimha:angular-reactive-component`. It might be the case that they referenced it incorrectly, but it all used to work before.
If you run the project, you'll see the errors I mentioned.

[2016-04-19 20:21] pbastowski commented on #55
I upgraded to Meteor 1.3.2.2 and it's running fine for me right now, see below:

![image](https://cloud.githubusercontent.com/assets/5649024/14654024/0835f6e8-067c-11e6-9a83-ba7083d33b08.png)

![image](https://cloud.githubusercontent.com/assets/5649024/14654039/12c88684-067c-11e6-955e-fdd03159752e.png)

I'll push a new branch and perhaps it'll work for you too :)

[2016-04-19 20:25] pbastowski commented on #55
Have a look at branch m1322.

[2016-04-19 21:34] DmitryEfimenko commented on #55
Thanks, it looks like I messed up some local packages when I force updated them. I guess it's not a good thing to do. Thanks again for looking at it.

[2016-04-19 21:34] #55 closed

[2017-05-02 12:27] Sonatrix commented on #55
my meteor up shows blank when open in IE11

[2017-05-02 19:15] pbastowski commented on #55
@Sonatrix this issue is closed and you have provided no details at all.

I suggest you try ng2now instead of a gular2-now, which is a completely rewritten recent version of my library, available on npm.